---
remote_user: "pi"

new_hostname: "computer"
new_user_full_name: "John Doe"
new_username: "johndoe"
new_user_password: "password"

static_ip: 10.10.10.10/24
static_gateway: 10.10.10.11

wifi_ssid: "mywifinetwork"
wifi_password: "mypassword"

github_hass_config: "githubrepohassconfig
github_token: "githubkey" # needs right to add SSH keys
